version: '3'

services:
  web:
    build: .
    ports:
      - 5000:5000
    environment:
      - MONGO_HOST=mongo 
      - MONGO_PORT=27107
    volumes:
      - .:/app/
    command: "./run.sh"
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - 27017:27017
